
.bg {

  background-color: #2B2D42;

  background-size: cover;

  width: 100%;

  height: 100vh;

  box-sizing: border-box;

  display: flex;

  flex-direction: row;

  justify-content: center;

  align-items: center;

}

.bg-card-container {

  background-color: #F8FCDA;

  padding: 30px 60px;

  border-radius: 10px;

}

.heading {

  font-size: 32px;

  text-transform: uppercase;

  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

  font-weight: 800;

  margin-bottom: 80px;

}

.input-felid {

  width: 300px;

  height: 30px;

  margin-right: 10px;

}

.copy {

  background-color: #4A5043;

  padding: 10px 20px;

  border-width: 0px;

  color: #fff;

  font-size: 14px;

  font-weight: 500;

}

.check-box-container {

  display: flex;

  flex-direction: row;

  justify-content: space-between;

  margin-top: 20px;

}

